:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

.section { 
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
   align-items: center;


    div > h1,p:not(:has(img)) {
      padding-bottom: 1rem;
    }
  

  & > div:has(img) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items

    gap: 1rem;

    & > :first-child {
      grid-column: 2;
    }

    & > :nth-child(2) {
      grid-column: 1;
      grid-row: 2;
    }
    & > :nth-child(3) {
      grid-column: 2;
      grid-row: 2/4;
    }

    & > :nth-child(4) {
      grid-column: 3;
      grid-row: 2;
    }

    & > :nth-child(5) {
      grid-column: 1;
      grid-row: 3;
    }

    & > :nth-child(6) {
      grid-column: 3;
      grid-row: 3;
    }

    & > :nth-child(7) {
      grid-column: 2;
      grid-row: 4;
    }
  }
}
