@import url("https://fonts.cdnfonts.com/css/gill-sans-2");
@import url("https://fonts.cdnfonts.com/css/abril-fatface");

article {
  font-family: Arial, Helvetica, sans-serif;
  max-inline-size: 400px;
  background: #fff;
  margin-block: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  border: 1px solid #dadceb;

  > * + * {
    margin-block-start: var(--flow-space);
  }

  /* p {
    --flow-space: 0.25rlh;
    font-size: 1.2rem;
  } */
}

article h2 + * {
  --flow-space: 0.25rlh;
}

.picture {
  display: grid;

  > * {
    grid-area: 1 / 1;
  }

  .back {
    place-self: start;
    margin: 1rem;
    z-index: 1;
    color: #c6d4e0;
    background: #ffffff;
    border-radius: 50%;
    padding: 0.2rem;
  }

  .image-count {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    line-height: 1;
    place-self: end start;
    background: #bdc4ce;
    color: #fff;
    margin: 1rem;
  }

  img {
    border: 1px solid #dadceb;
    border-radius: 0.5rem;
  }
}

.card-content {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: #383838;
}

.location {
  color: #93969a;

  font-size: 0.9em;
  font-weight: 200;
}

.description p {
  color: #8e8f93;
  font-size: 0.9rem;
  line-height: 1.5;
  text-wrap: pretty;
}

.amenities-details {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;

  li {
    flex: 1;
    display: grid;
    gap: 0.75rem;
    place-items: center;
    padding: 0.25rem;

    color: #8e8f93;
  }
}

footer {
  padding: 1rem 2rem;
  box-shadow: 0 -2px 4px -1px #0002;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  button {
    padding: 0.75rem 1rem;
    border: none;
    line-height: 1;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    font: inherit;
    background: #4f63dd;
    color: #ffffff;
  }

  .price {
    font-weight: 400;

    span {
      color: #908f9f;
      font-size: 0.75em;
      font-weight: 400;
    }
  }
}

@layer reset {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100svh;
    font-family: system-ui, sans-serif;
    display: grid;
    place-content: center;
    background: #f5f6fa;
  }

  img,
  svg {
    display: block;
    max-inline-size: 100%;
    height: auto;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }
}
